<form action="/prjctr/user/logout?_method=DELETE" method="POST">
    <input type="submit" value="Log Out" class='w3-button w3-indigo w3-hover-deep-purple w3-round-large w3-small sideBySide' />
</form>