<nav class="nav">
    <div>
        <div class="nav-user">
            <h1 class="title">
                PRJCTR
            </h1>
            <div class="nav-user-link">
                <a href="/prjctr/user/new" class='w3-button w3-indigo w3-hover-deep-purple w3-round-large w3-small sideBySide'>Create User</a>
                <a href="/prjctr/user/login" class='w3-button w3-indigo w3-hover-deep-purple w3-round-large w3-small sideBySide'>Login User</a>
                <%- include ('../user/logout.ejs') %>
            </div>
        </div>
        <div class="nav-link-group">
            <div class="nav-link">
                <a href="/" class="nav-links">Home</a>
                <a href="/prjctr/project/" class="nav-links">Project Index</a>
                <a href="/prjctr/project/new" class="nav-links">New Project</a>
            </div>
        </div>
    </div>
</nav>