<nav>
    <h1>
        PRJCTR
    </h1>
    <div>
        <a href="/" class="nav-link">Home</a>
        <a href="/prjctr/project/" class="nav-link">Project Index</a>
        <a href="/prjctr/project/new" class="nav-link">New Project</a>
    </div>
</nav>