<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <%- include ('../partials/site/nav.ejs') %>
    <p>
        lorem ipsum dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis aspernatur obcaecati quisquam. Molestias, et rerum. Necessitatibus, ab voluptas obcaecati numquam a labore neque, earum temporibus deserunt eos commodi inventore adipisci!
    </p>
</body>
</html>