<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <div>
        <%- include ('../partials/site/nav.ejs') %>
        <p class="w3-center">
            Hello and welcome to PRJCTR, the place where you can create and manage projects so procrastination isn't in charge!
        </p>

        <p class="w3-center">
            The process is simple! Sign up or login and begin adding projects. Projects can seem insurmountable as a whole, so from the project page you can add tasks to tackle the project one step at a time.
        </p>
        <p class="w3-center">
            So go on and get started on those projects you've been putting off with PRJCTR!
        </p>
    </div>
</body>
</html>