<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <%- include ('../partials/site/nav.ejs') %>
    <h3>
        <%= problem %>
    </h3>
    <%- include ('../partials/user/userForm.ejs') %>
</body>
</html>