<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/site/head.ejs') %>
</head>
<body>
    <div>
        <%- include ('../partials/site/nav.ejs') %>
        <h2>This is a user page. Please login or sign-up. Thank you!</h2>
        <a href="/prjctr/user/new">Sign-up</a>
        <a href="/prjctr/user/login">Login</a>
    </div>
</body>
</html>