body{
    display: flex;
    justify-items: center;
}
body>*{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
}
.nav {
    display: flex;
    width: 90vw;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width:90vw;
    font-size:20vh;
    font-weight: bold;
}
.form {
    margin-top:10px;
    display: flex;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
textarea {
    resize: none;
}
.form-limit{
    width:45vw
}
.nav-user {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
}
.nav-user-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav-link-group {
    display: flex;
    justify-content: center;
    width: 90vw;
    background-color: #590925;
    color: #D4DCFF;
}
.nav-link {
    display: flex;
    justify-content:space-between;
    width: 40vw;
}
.nav-links {
    text-decoration: none;
    font-size: 30px;
}
.nav-links:hover {
    background-color: #7D83FF
}
.project-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw
} 
.center-things {
    display: flex;
    justify-content: center;
    width: 90vw
}
.sub-title {
    font-size: 5vh;
}
#index-container {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.proj-card {
    width: 28vw;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.stacked {
    display: flex;
    flex-direction: column;
    align-items: center
}
.show-div{
    display: flex;
    flex-direction:column;
    align-items: center
}
.status{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle {
    display: flex;
    width: 50vw;
    justify-content: space-between
}
ul {
    list-style: none
}
.task-edit {
    display: flex;
    justify-content:space-around
}
.task-edit2 {
    display: flex;
    flex-direction: column;
    align-items: center
}
span {
    margin-right:10px;
    margin-left:10px
}
#complete {
    background-color: #0070E0
}
#incomplete {
    background-color: #1AFFD5
}
a {
    text-decoration: none;
}
.project-title {
    font-size:4vh;
}
.sideBySide {
    display : flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.each-card {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
}
#card-task {
    display: flex;
    flex-wrap: wrap;
    width: 90vw
}
.space {
    margin-left: 5px;
}
#deleteButton {
    color: #590925 !important;
    background-color: #1AFFD5 !important;
}
#deleteButton:hover {
    color: #1AFFD5 !important;
    background-color: #590925 !important;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 15vh;
    }
    .nav-link {
        width: 60vw
    }
    .nav-links {
        font-size: 4vh;
    }
    .middle {
        width: 90vw;
    }
    .dates > h2 {
        font-size:4vh;
    }
    .status > h3 {
        font-size:4vh;
    }
    #userArea {
        font-size:4vh;
    }
}