<form action="/prjctr/project/<%=currentProject.id%>?_method=delete" method="post">
    <input type="submit" value="Delete Project" class='w3-button w3-blue w3-hover-red w3-round-large w3-small sideBySide' id="deleteButton">
</form>