<form action="/prjctr/project/task/<%= currentProject.id %>" method="post">
    <input type="text" name="task" class="form-control">
    <input type="submit" value="Create Task" class='w3-button w3-blue w3-hover-red w3-round-large w3-small'>
</form>