<form action="/prjctr/project/task/<%= currentProject.id %>" method="post">
    <input type="text" name="task" class="form-control">
    <input type="submit" class="button" value="Create Task">
</form>