<form action="/prjctr/project/task/<%= currentProject.id %>" method="post">
    <input type="text" name="task" class="form-control">
    <input type="submit" value="Create Task" class='w3-button w3-indigo w3-hover-deep-purple w3-round-large w3-small sideBySide'>
</form>